*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus{
    outline: none;
}

body
{
    font-family: arial,sans-serif;
}

nav
{
    display: flex;
    justify-content: flex-end;
    padding: 6px 25px;
}


nav ul li
{
    display: inline-block;
    font-size: 0.82rem;
    list-style-type: none;
    vertical-align: middle;
    margin: 5px;
}

li a
{
    color: rgba(0,0,0,0.85);
    text-decoration: none;
}

li a:hover
{
    text-decoration: underline;
}

#apps
{
    opacity: 0.55;
    width: 16px;
    position: relative;
    top: 2px;
    margin-left: 4px;
}
#apps:hover
{
    opacity: 0.80;
}

#profile
{
    width: 35px;
    border-radius: 50%;
    position: relative;
    top: 2px;
    margin-left: 5px;;
}


/*Main*/

main
{
    max-width: 100%;
    display: flex;
    justify-content: center;
}

#main
{
    width:100%;
    position: relative;
    right:1rem;
    top: 9rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: auto;
}

#search
{
    width:100%;
    margin: 1rem;
    display: flex;
    justify-content: center;
}
#search-input
{
    width:55%;
    padding: 0.8rem 3.1rem;
    border: 0.8px solid rgba(0,0,0,0.12);
    -webkit-appearance: none;
    outline: none;
    margin: 1rem;
    border-radius: 1.5rem;
    font-size: 15px;
    color: rgba(0,0,0,0.75);
}

#search-icons
{
    width:51.5%;
    display: flex;
    justify-content: space-between;
    
}
@media only screen and (max-width: 800px)
{
    #search-input{
        width:90%;
    }
    #search-icons
    {
        width: 80%
    }
}

#search-icon
{
    width: 22px;
    opacity: 0.3;
    position: relative;
    bottom: 67px;
}

#mic-icon
{
    width:16px;
    position: relative;
    bottom: 65px;
}

#languages
{
    font-size: 0.8rem;
    color: rgba(0,0,0,0.85);
    margin: 1.7rem;
}

#languages a
{
    margin: 3px;
    text-decoration: none;
}

#languages a:hover
{
    text-decoration: underline;
}

button{
    border: none;
    font-size: 14px;
    padding: 9px 16px;
    border: 1px solid  rgba(0,0,0,0.025);
    background-color: rgba(0,0,0,0.025);
    color:rgba(0,0,0,0.75);
    border-radius: 4px;
    cursor: pointer;
    margin: 4px;
    margin-top: -10px;
    -webkit-appearance: none;
}

button:hover
{
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-appearance: none;
}

button:focus{
    border: 1px solid rgb(0, 153, 255);
}
