*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: arial,sans-serif;
}

nav
{
    display: flex;
    justify-content: flex-end;
    padding: 5px 19px;
}


nav ul li
{
    display: inline-block;
    font-size: 0.82rem;
    list-style-type: none;
    vertical-align: middle;
    margin: 5px;
}

li a
{
    color: rgba(0,0,0,0.85);
    text-decoration: none;
}

li a:hover
{
    text-decoration: underline;
}

#apps
{
    opacity: 0.55;
    width: 16.5px;
    position: relative;
    top: 2px;
    margin-left: 4px;
}
#apps:hover
{
    opacity: 0.80;
}

#profile
{
    width: 38px;
    border-radius: 50%;
    position: relative;
    top: 2px;
    margin-left: 5px;;
}